.videos-pagination, .videos-pagination a.item {
    background-color: transparent ;
    border: none ;
    box-shadow: none;
    outline: none;
    a.item:before {
        width: 0;
        background: transparent;
    }
    a.item {
        color: #999999 ;
        min-width: 1rem;
        border-radius: 50%;
    }
    a.item.active {
        background-color: #d4e0ed;
        color: #333333;
        font-weight: bold;
        // opacity: 0.5;
    }
    a[type="prevItem"], a[type="nextItem"] {
        color: #0e7ceb ;
    }
}

  .ui.basic.button.clear-button,.ui.basic.button.clear-button:focus, .ui.basic.buttons .button.clear-button:focus {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    font-size: 14px;
    font-weight: bold !important;
    color: rgba(0,0,0,0.8) !important;
  }
