#translation-container {
    padding: 2rem;
}
#back-btn {
    color: #333333 !important;
    margin-right: 1.5rem !important;
    background-color: #d4e0ed !important;

}
#tabs-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}