body {
  margin: 1rem;
}

.boxes-list-container {
  height: 500px;
  max-height: 500px;
  overflow-y: scroll;
}
.image-container,
.tools-container
{
  border: 1px dashed black;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.tools-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  height: 100%;

  .shapes-container {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: 10px;
    }
  }
}

.text-box-container {
  padding: 2rem;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  .text-box-row,
  .text-color-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .font-size-box {
    width: 30%;
  }
}

.boxes-list-container {
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #d4e0ed;
    border: 2px solid;
    border-radius: 8px;
    color: #666666;
    height: 50px;
    width: 100%;
    margin: 0.5rem;;
    cursor: pointer;
  }
}
